/* Font-Face */
@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Bla.ttf) format('truetype');
}

@font-face {
    font-family: Lato-BlackItalic;
    src: url(../fonts/Lato-BlaIta.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bol.ttf) format('truetype');
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(../fonts/Lato-BolIta.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Hairline;
    src: url(../fonts/Lato-Hai.ttf) format('truetype');
}

@font-face {
    font-family: Lato-HairlineItalic;
    src: url(../fonts/Lato-HaiIta.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Lig.ttf) format('truetype');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url(../fonts/Lato-LigIta.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Reg.ttf) format('truetype');
}

@font-face {
    font-family: Lato-RegularIta;
    src: url(../fonts/Lato-RegIta.ttf) format('truetype');
}

/* Section: Header */
header {
    background: url(../img/header-img.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: block;
    height:100vh;
}

header a h1 {
    width: 129px;
    height: 108px;
    position: relative;
    background: url(../img/logo.png) no-repeat;
    top: -45px;
    left: -18px;
}

span.logo {
    display: none;
}

header .intro {
    text-align: center;
}

header .intro h1 {
    color: #fff;
    font-family: "Times New Roman";
    font-style: italic;
}

header .intro h1 span {
    text-transform: uppercase;
    margin: 0 0 18px;
    font-family: Lato-Bold;
    font-size: 100px;
    font-style: normal;
    color: #fff;
    display: block;
}

header .intro a {
    text-decoration: none;
}

header .intro a span.cta {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 20px auto 24px auto;
    padding: 12px 48px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #eb9074;
    width: 220px;
}

header .intro a span.cta:hover {
    background-color: rgba(246, 150, 121, 0.5);
}

header .intro h4.post, header h4.post a {
    text-transform: uppercase;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #fff;
}

header .intro h4.post a {
    text-decoration: underline;
}

/* Section: Options */
.options {
    padding: 72px 0 71px;
    position: relative;
    background: #fff;
    overflow: hidden;
    min-height: 366px;
}

.options ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.options li {
    display: inline-block;
    position: relative;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
}

.options li:nth-child(1) {
    background-image: url(../img/icon-get-inspired.png);
    background-repeat: no-repeat;
}

.options li:nth-child(2) {
    background-image: url(../img/icon-get-rewarded.png);
    background-repeat: no-repeat;
}


.options li:nth-child(3) {
    background-image: url(../img/icon-get-social.png);
    background-repeat: no-repeat;
}


.options li span.title {
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.options li span.title:after {
    content: " ";
    display: block;
    width: 96px;
    height: 1px;
    border-bottom: 1px solid #f57365;
    margin: 0 auto;
    padding-top: 5px;
}

.options li span.description {
    font-family: Lato-Light;
    font-size: 16px;
    color: #444444;
    text-align: justify;
    display: block;
}

/* Section: Main */
.main {
    padding: 72px 0 0 172px;
    position: relative;
    background: #f7f7f7;
    overflow: hidden;
    min-height: 600px;
}

img.phone {
    width: 395px;
    position: relative;
}

.main h2 {
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000;
    display: block;
    margin: 80px 0 10px -92px;
}

.main h2:after {
    content: " ";
    display: block;
    width: 96px;
    height: 1px;
    border-bottom: 1px solid #f57365;
    padding-top: 5px;
}

.main .description {
    font-family: Lato-Light;
    font-size: 16px;
    color: #444444;
    text-align: justify;
    display: block;
    margin-left: -92px;
    width: 540px;
}

.main .cta a:nth-child(1) span.icon {
    background: url(../img/icon-app-store.png);
    width: 112px;
    height: 39px;
    margin-left: -92px;
}

.main .cta a:nth-child(2) span.icon {
    background: url(../img/icon-google-play.png);
    width: 120px;
    height: 39px;
}

.main .cta a span.icon {
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
}

/* Section: Opinions */
.opinion {
    padding: 72px 0 71px 0px;
    position: relative;
    background: url(../img/pepper.png) #5b6869;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-left: -40px;
}

.opinion ul{
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.avatar img {
    border: 6px solid #eb9074;
    margin-left: -40px;
    margin-bottom: 160px;
}

.opinion .tweet {
    font-family: Lato-Hairline;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.opinion .signed {
    font-family: Lato-HairlineItalic;
    font-size: 16px;
    text-align: center;
    display: block;
    color: #fff;
}

.opinion .signed:before {
    content: "- ";
}

.opinion .signed:after {
    content: " -";
}
/* Section: Cuisines */
.cuisines {
    padding: 72px 0 71px 0px;
    margin-left: -25px;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.cuisines h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cuisines h2:after {
    content: " ";
    display: block;
    width: 96px;
    height: 1px;
    border-bottom: 1px solid #f57365;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 40px;
}

.cuisines ul{
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.cuisines li {
    display: inline-block;
    position: relative;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    cursor: pointer;
    height: 225px;
    width: 20%;
    margin-left: -1px;
}

.cuisines li a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.cuisines .recipes1 li:nth-child(1) {
    background-image: url(../img/food-american.jpg);
}

.cuisines .recipes1 li:nth-child(2) {
    background-image: url(../img/foot-indian.jpg);
}

.cuisines .recipes1 li:nth-child(3) {
    background-image: url(../img/food-french.jpg);
}

.cuisines .recipes1 li:nth-child(4) {
    background-image: url(../img/foot-steakhouse.jpg);
}

.cuisines .recipes1 li:nth-child(5) {
    background-image: url(../img/food-seafood.jpg);
}

.cuisines .recipes2 li:nth-child(1) {
    background-image: url(../img/food-sushi.jpg);
}

.cuisines .recipes2 li:nth-child(2) {
    background-image: url(../img/food-mexican.jpg);
}

.cuisines .recipes2 li:nth-child(3) {
    background-image: url(../img/food-chinese.jpg);
}

.cuisines .recipes2 li:nth-child(4) {
    background-image: url(../img/food-pizza.jpg);
}

.cuisines .recipes2 li:nth-child(5) {
    background-image: url(../img/food-american.jpg);
}

.cuisines .recipes1 li, .cuisines .recipes2 li {
    background-repeat: no-repeat;
}

.cuisines .count {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.cuisines .food {
    font-family: Lato-Regular;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    color: #fff;
    margin: 0;
}

/* Footer */
footer {
    background: #f7f7f7;
    padding: 32px 0;
    border-top: 1px solid #e1e1e1;
    font-family: Lato-Regular;
    color: #c1c1c1;
    min-height: 92px;
}

.design {
    text-transform: uppercase;
    text-align: right;
    color: #c1c1c1;
}

.design a {
    font-family: Lato-Bold;
    color: #202020;
}

/* Section: Counters */
.counters {
    text-align: center;
    margin: -20px 0 40px 0;
    position: relative;
}

.counters ul{
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    margin-left: 140px;
}

.counters .count {
    font-family: Lato-Regular;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #101010;
}

.counters .description {
    display: block;
    font-family: Lato-Light;
    font-size: 16px;
    margin: 0;
    color: #8d8f92;
}

/* Other */
body { position: relative;}

.hide{ visibility:hidden;}

.visible{ visibility:visible;}

.delay100{
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -ms-animation-delay: 100ms;
    -o-animation-delay: 100ms
}

.delay200{
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -o-animation-delay: 200ms;
}

.delay300{
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -o-animation-delay: 300ms
}

.delay400{
    -webkit-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -ms-animation-delay: 400ms;
    -o-animation-delay: 400ms;
}

@media (min-width:240px) and (max-width:767px){
        #brand { top: 30px; left: 20%;}

        header .intro h1 {
            font-size: 20px;
        }

        header .intro h1 span {
            font-size: 45px;
        }

        header .intro a span.cta {
            width: 100px;
            font-size: 16px;
            padding: 10px;
        }

        .options ul li { margin-bottom: 20px;}

        img.phone {
            width: 150px;
            height: 150px;
            margin-left: -80px;
        }

        .main {
            margin-left: -80px;
        }

        .main h2 {
            margin-top: 15px;
        }

        .main .description {
            width: 190px;
            font-size: 12px;
            text-align: left;
        }

        .main .cta a:nth-child(2) span.icon {
            display: block;
            margin-left: -92px;
            padding-bottom: 90px;
            background-repeat: no-repeat;
        }

        .avatar img {
            border: 6px solid #eb9074;
            margin-left: -10px;
            width: 80px;
            margin-bottom: 200px;
        }

        .opinion {
            min-height: 460px;
        }

        .opinion .tweet {
            font-family: Lato-Regular;
            font-size: 14px;
        }
        .opinion .signed {
            font-family: Lato-Regular;
            font-size: 10px;
        }

        ol.carousel-indicators {
            margin-bottom: -40px;
        }

        .cuisines li {
            padding: 5px;
            margin: 5px;
            width: 120px;
            height: 80px;
            display: inline-block;
        }

        .cuisines .food {
            font-size: 12px;
        }

        .counters {
            margin-left: -200px;
        }

        .counters .count {
            font-size: 18px;
        }

        .counters .description {
            padding-bottom: 10px;
        }

        footer {
            text-align: center;
        }

        .design {
            display: inline-block;
            padding-top: 10px;
        }
}